.h1 {
  font-size: $h1-font-size;
}

.h2 {
  font-size: $h2-font-size;
}

.h3 {
  font-size: $h3-font-size;
}

.h4 {
  font-size: $h4-font-size;
}

.h5 {
  font-size: $h5-font-size;
}

.h6 {
  font-size: $h6-font-size;
}

.text-break-spaces {
  white-space: break-spaces !important;
}

.text-mute {
  color: $text-mute-color !important;
}

.text-danger {
  color: $color-danger !important;
}

.text-success {
  color: #45b854 !important;
}

.text-dark {
  color: $text-color;
}

.text-white {
  color: $white;
}

.text-tiny {
  font-size: $text-tiny-font-size !important;
}

.text-xsmall {
  font-size: $text-small-font-size !important;
}

.text-small {
  font-size: $text-font-size !important;
}

.text-large {
  font-size: $h6-font-size !important;
}

.text-big {
  font-size: $h1-font-size * 1.5;
  font-weight: $font-weight-bold;
  line-height: 48px;
}

.text-bold {
  font-weight: $font-weight-bold !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
  .table__cell {
    text-align: center !important;
  }
}

.table__cell.text-left {
  text-align: left !important;
  padding-left: 30px;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}
