.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main-panel {
  grid-area: main-panel;
}

.notebook-layout {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    "header header header header"
    "sidebar main-panel main-panel main-panel";
  grid-gap: $grid-gap;
  padding: $grid-padding;
  margin: $grid-margin;
  max-width: calc(
    100% - 2 * #{$grid-margin} - 2 * #{$grid-padding} - 3 * #{$grid-gap}
  );
}

.notebook-layout > div {
  padding: $grid-padding;
}
