
$navbar-height: 70px !default;

// $navbar-padding: 13px 30px !default;
$navbar-title-padding:  0 0 0 30px !default;
$navbar-background-color: $white !default;
$navbar-border-width: 1px !default;
$navbar-border-color: #E6EAEE !default;

$navbar-brand-width: 44px !default; // [1]
$navbar-brand-height: 44px !default; // [1]
$navbar-brand-margin: 0 20px 0 30px !default;


$app-switcher-padding:16px 17px;
$app-switcher-margin:0 0 0 20px;
$app-switcher-background: #fcfcfc;
$app-switcher-border: 1px solid #e8e9ea;
$app-switcher-font-size:24px !important;
